html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  scroll-behavior: smooth; }

body {
  font-size: 16px;
  --link: #67896a;
  --copy: #1f1e1e;
  --background: #FFFFFF;
  --primary: #EFDAD6;
  --accent: #838383;
  background: #FFFFFF;
  background: var(--background);
  font-family: "Raleway", "Helvetica", sans-serif;
  overflow-x: hidden;
  height: 100%; }
  body.alternate-mode {
    --link: #DDA095;
    --copy: #FFFFFF;
    --background: #1f1e1e;
    --primary: #303b31;
    --accent: #aaa; }

* {
  color: #1f1e1e;
  color: var(--copy); }

a {
  color: #67896a;
  color: var(--link);
  text-decoration: none;
  font-weight: bold; }
  a:hover {
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-thickness: 1px; }

svg > * {
  fill: var(--copy); }

h1, h2, h3, h4 {
  font-family: "PT Sans Narrow", "Helvetica", sans-serif; }

h3 {
  font-size: 1.75rem;
  line-height: 1.1em; }
  @media screen and (min-width: 600px) {
    h3 {
      font-size: 2rem; } }

h4 {
  font-size: 1.3rem;
  line-height: 1.1em;
  margin-bottom: 0.5rem;
  color: #C47A35;
  color: var(--accent); }
  @media screen and (min-width: 600px) {
    h4 {
      font-size: 1.65em; } }

nav li {
  font-size: 1.15rem;
  line-height: 1.1em; }
  @media screen and (min-width: 600px) {
    nav li {
      font-size: 1.15rem; } }

h5 {
  font-weight: bold; }

p, h5 {
  line-height: 1.5;
  font-size: 1rem;
  margin-bottom: .75rem;
  max-width: 75ch; }

li p {
  font-size: .85rem; }

footer p {
  font-size: .75rem; }

img {
  width: 100%; }

hr {
  height: 3px;
  border: 0;
  background: #C47A35;
  background: var(--accent);
  width: 3rem;
  margin: 1rem 0 1.5rem 0; }

main {
  z-index: 1;
  position: relative; }

section,
footer .footer-content {
  padding: 3rem 1.5rem;
  z-index: 1;
  position: relative;
  max-width: 90ch;
  margin: 0 auto; }
  @media screen and (min-width: 600px) {
    section,
    footer .footer-content {
      padding: 3rem; } }

@media (prefers-color-scheme: dark) {
  body {
    --link: #DDA095;
    --copy: #FFFFFF;
    --background: #1f1e1e;
    --primary: #303b31;
    --accent: #aaa; }
    body.alternate-mode {
      --link: #67896a;
      --copy: #1f1e1e;
      --background: #FFFFFF;
      --primary: #EFDAD6;
      --accent: #838383; } }

nav {
  z-index: 0;
  width: 100%;
  background: #EFDAD6;
  background: var(--primary); }
  @media screen and (min-width: 875px) {
    nav {
      background: transparent; } }
  nav ul {
    font-family: "PT Sans Narrow", "Helvetica", sans-serif;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%; }
  nav > ul {
    padding: 1rem; }
    @media screen and (min-width: 875px) {
      nav > ul {
        padding: 1rem 0; } }
  nav li {
    padding: 0 1rem;
    margin-bottom: 0; }
  nav a {
    color: var(--copy); }
    nav a:hover {
      color: var(--link); }
    nav a.icon:hover {
      border-bottom: 0; }
      nav a.icon:hover svg > * {
        fill: var(--link); }
  nav .label {
    visibility: hidden;
    display: inline-block;
    width: 0; }
  nav .nav-home {
    display: inline-block;
    white-space: nowrap;
    font-size: 1.5em;
    margin-right: 1rem; }
    @media screen and (min-width: 875px) {
      nav .nav-home {
        min-width: 33vw;
        flex: 1 0 auto;
        margin-right: 0; } }
    nav .nav-home .label {
      width: 14ch; }
    nav .nav-home a:before {
      content: "Jacquelyn Marcella";
      display: block;
      position: absolute; }
  nav .nav-nested {
    display: none;
    max-width: 75ch;
    width: min-content;
    flex: 0 0 100%; }
  nav.is-open {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background: var(--background); }
  @media screen and (min-width: 875px) {
    nav {
      position: fixed; }
      nav ul {
        flex-wrap: nowrap; }
      nav .nav-toggle {
        display: none; }
      nav .nav-nested {
        display: flex;
        flex: 0 0 auto; } }
  nav.nav-scrolling {
    transition: all 150ms ease-in-out;
    opacity: 0; }

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  width: 2.5em;
  padding: 0;
  margin: 0 0.5rem;
  position: relative;
  /*  padding: 2px 10px;*/
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }

.hamburger-box {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 22.5px;
  height: 3px;
  background-color: #1f1e1e;
  background-color: var(--copy);
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease; }

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block; }

.hamburger-inner::before {
  top: -8px; }

.hamburger-inner::after {
  bottom: -8px; }

/*
* Squeeze
*/
.hamburger--squeeze .hamburger-inner {
  transition-duration: 0.075s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--squeeze .hamburger-inner::before {
  transition: top 0.075s 0.12s ease, opacity 0.075s ease; }

.hamburger--squeeze .hamburger-inner::after {
  transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--squeeze.is-active .hamburger-inner {
  transform: rotate(45deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }

.hamburger--squeeze.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.075s ease, opacity 0.075s 0.12s ease; }

.hamburger--squeeze.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }

footer {
  background: #EFDAD6;
  background: var(--primary);
  position: relative; }
  footer .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    footer .footer-content div:first-child {
      margin-bottom: 1rem; }
    @media screen and (min-width: 875px) {
      footer .footer-content div:nth-child(2) ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        min-width: 33vw;
        grid-gap: 0 1.5rem; } }
    footer .footer-content div:nth-child(2) ul li {
      white-space: nowrap; }
  footer h4 {
    color: #1f1e1e;
    color: var(--content); }
  footer svg {
    margin-right: 0.5rem; }
    footer svg > * {
      fill: #1f1e1e;
      fill: var(--accent); }
  footer:before {
    content: " ";
    display: block;
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    transform-origin: top left;
    transform: skewY(-5deg);
    height: 8rem;
    background: #EFDAD6;
    background: var(--primary);
    transform-origin: top left;
    top: 0em;
    left: 0;
    z-index: -1; }
    @media screen and (min-width: 600px) {
      footer:before {
        transform: skewY(-2deg); } }

header {
  height: 3rem; }
  @media screen and (min-width: 875px) {
    header {
      height: 15rem; } }
  header h1, header h2 {
    visibility: hidden; }

.header-wrapper {
  overflow: hidden; }

.header-background {
  box-sizing: border-box;
  width: 100%;
  position: absolute;
  transform-origin: top left;
  transform: skewY(4deg); }
  .header-background.top {
    background: #EFDAD6;
    background: var(--primary);
    height: 7rem;
    transform-origin: top left;
    top: -2.5rem;
    left: 0;
    z-index: -1; }
    @media screen and (min-width: 875px) {
      .header-background.top {
        top: -30rem;
        left: 20ch;
        z-index: -1; } }
  @media screen and (min-width: 875px) {
    .header-background.bottom {
      background: var(--background);
      transform-origin: top left;
      top: 0;
      left: 20ch;
      z-index: 1; } }
  @media screen and (min-width: 875px) {
    .header-background.top, .header-background.bottom {
      height: 30rem;
      transform: skewY(13deg); } }
  @media screen and (min-width: 1920px) {
    .header-background.top, .header-background.bottom {
      transform: skewY(8deg); } }

.about {
  display: flex;
  flex-wrap: wrap-reverse;
  margin-bottom: 1.5rem; }
  .about .copy {
    flex: 2 1 55ch; }
    @media screen and (min-width: 600px) {
      .about .copy {
        padding-right: 3rem; } }
  .about .headshot {
    flex: 1 1 200px; }
    .about .headshot img {
      border-radius: 100%;
      max-width: 85px;
      margin-bottom: 1rem; }
      @media screen and (min-width: 875px) {
        .about .headshot img {
          max-width: 300px;
          margin-bottom: 0; } }

.skills {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15ch, 1fr));
  grid-gap: 1rem; }
  @media screen and (min-width: 600px) {
    .skills {
      grid-template-columns: repeat(auto-fit, minmax(25ch, 1fr)); } }
  .skills h4 {
    grid-column: 1/-1;
    margin-bottom: 0; }
  .skills p, .skills h5 {
    margin-bottom: 0.25rem; }
