header .container {
    max-width: 980px;
}


h1 {
    margin-bottom: var(--xl);
}
section h2,
section h3,
section p, 
section ol{
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
}
ol {
    padding-left: var(--lg);
}
ol li {
    margin-bottom: var(--xxs);
}
section h2 {
    border-bottom: 2px solid var(--surfaceColor);
    padding-bottom: var(--xs);
}
section h2.text-align-center {
    border-bottom: 0;
}
nav.breadcrumbs {
    position: relative;
    z-index: 2;
    margin-bottom: var(--xxs);
    /* opacity: .8; */
}
nav.breadcrumbs ul {
    display: block;
}
nav.breadcrumbs li {
    display: inline-block;
}
nav.breadcrumbs li:first-child {
    display: none;
}
@media screen and (min-width: 600px) {
    nav.breadcrumbs li:first-child {
        display: inline-block;
    }
    nav.breadcrumbs li:first-child::after {
        content: "/";
        margin: 0 var(--xs) 0 var(--xxs);
        color: var(--copyColor);
    }
}

nav.breadcrumbs a {
    color: var(--linkColor);
    text-decoration: none;
}

header h3 {
    margin-top: var(--lg);
}

img {
    opacity: 1;
    max-height: 1200px; /*improve this some */
    border: 1px solid var(--surfaceColor);
}

figure {
    max-width: 1500px;
    margin: 0 auto;
}

figure figcaption {
    font-style: italic;
    max-width: calc(980px + var(--lg) + var(--lg));
    margin: var(--sm) auto 0 auto;
    padding: 0 var(--lg);
}

section {
    padding: var(--lg) 0;
}

section .container {
    padding: 0 var(--lg);
}

section figure {
    margin-top: var(--xxl);
    margin-bottom: var(--xxxl);
}
.two-up {
    margin: var(--xxl) 0 var(--xxxl) 0;
    gap: var(--lg);
} 
@media screen and (min-width: 1000px) {
    section > figure {
        min-width: 980px;
    }
    section > figure,
    section > .two-up {
        padding: 0 var(--lg);
        max-width: 1980px;
        margin-left: auto;
        margin-right: auto;
        width: fit-content;
    }
    
}
.two-up figure {
    margin: 0;
}

.two-up figure {
    height: 100%;
    display: flex;
    flex-direction: column;
    background: var(--surfaceColor);
}
.two-up img,
.two-up pre {
    margin: auto 0;
}
.two-up pre {
    height: 100%;
}
.two-up figcaption {
    background: var(--backgroundColor);
    width: 100%;
    margin-top: 0;
    padding-top: var(--sm);
    max-width: unset;
}

.tile-grid figcaption {
    background: none;

}
.tile-grid img {
    opacity: 1;
}
section pre {
    display: block;
    background: var(--cardBackground);
    /* height: 100%; */
    text-align: left;
    padding: var(--md) var(--lg);
    max-width: 100vw;
    overflow: scroll;
}

.stats-container {
    max-width: 980px;
    color: var(--copyColor);
    margin: var(--xl) auto var(--xl) auto;
    display: flex;
    flex-wrap: wrap;
    text-wrap: balance;
    gap: var(--md) var(--xl);
}
.stats--number {
    
    font-size: 2.5rem; /*tbd*/
    display: block;
    font-family: "Fraunces", serif;
	line-height: .8;
	font-weight: 500;
	letter-spacing: 0em;
	margin-bottom: var(--sm);
}
/* @media screen and (min-width: 600px) {
    .stats-container {
        text-align: center;
    }
} */

nav.project-nav {
    max-width: 980px;
    margin: 0 auto var(--lg) auto;
}
nav.project-nav ul {
    display: flex;
    gap: var(--md);
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

