/* header .container {
    max-width: 980px;
} */
.projects header .tile-grid {
    /* max-width: 850px; */

    gap: var(--xs) var(--xxl);
    margin-bottom: 0;
    margin-top: var(--lg);
}

header {
    padding: var(--xxl) 0;
}

header p,
header h3 {
    margin-bottom: 0;
}

header .stats--number,
header h3 {
    margin-top: var(--sm);
}

/* header h3 {
    grid-column: 1;
} */
header .tags {
    flex-direction: row;
}

header .stats--desc {
    text-wrap: balance;
}

header h1 {
    margin-bottom: 0;

}

.link-list li {
    background: transparent;
}

@media screen and (min-width: 800px) {

    header .stats--number,
    header h3 {
        margin-top: var(--lg);
    }

    h1 {
        margin-bottom: var(--xxl);
        /* text-align: center; */
    }

    header .container {
        margin-top: var(--xl);
    }

    header .tags {
        grid-column: 1/-1;
        /* padding-bottom: var(--xl); */
    }

    header h3 {
        grid-column: 1/-1;
    }

    header .stats--desc {
        /* padding-bottom: var(--xl); */
    }

    .projects header .tile-grid {
        grid-template-columns: repeat(auto-fit, minmax(26%, 1fr));
    }

    /* .stats--number,
    .stats--desc {
        text-align: center;
    } */
}

header .container,
section h2,
section h3,
section p,
section ol,
section>ul,
figure figcaption,
.width-content,
nav.project-nav {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;

}

header .container,
section h2,
section h3,
section p,
section ol,
section>ul,
figure figcaption {
    padding: 0 var(--md);
}

section>p {
    margin-bottom: var(--md);
}

section>h3 {
    margin-top: var(--lg);
}

section>ul li,
section>ol li {
    margin-left: var(--sm);
    margin-bottom: var(--xs);
    padding-left: var(--xs);
}

section h2 {
    padding-bottom: var(--sm);
    margin-bottom: var(--lg);
    position: relative;
}

section h2:after {
    content: "";
    display: block;
    height: 2px;
    background: var(--surfaceColor);
    width: calc(100% - var(--md) - var(--md));
    position: absolute;
    bottom: 0;
    left: var(--md);
}

section h2.text-align-center {
    padding-bottom: 0;
    padding: 0;
}

section h2.text-align-center:after {
    display: none;
}

nav.breadcrumbs {
    position: relative;
    z-index: 2;
    margin-bottom: var(--xxs);
    /* opacity: .8; */
}

nav.breadcrumbs ul {
    display: block;
}

nav.breadcrumbs li {
    display: inline-block;
}

nav.breadcrumbs li:first-child {
    display: none;
}

@media screen and (min-width: 600px) {
    nav.breadcrumbs li:first-child {
        display: inline-block;
    }

    nav.breadcrumbs li:first-child::after {
        content: "/";
        margin: 0 var(--xs) 0 var(--xxs);
        color: var(--copyColor);
    }
}

nav.breadcrumbs a {
    color: var(--linkColor);
    text-decoration: none;
}


.overview {
    background: var(--cardBackground);
    border-radius: var(--borderRadiusMd);
    padding: var(--md);
    margin-top: var(--xl);
}

img {
    opacity: 1;
    /* border: 1px solid var(--surfaceColor); */
}

figure {
    max-width: 1500px;
    margin: 0 auto;
}

figure figcaption {
    font-style: italic;
    margin: var(--sm) auto 0 auto;
}

figure figcaption code {
    font-style: normal;
}

section {
    padding: var(--xxl) 0 var(--sm) 0;
}


section figure,
section .two-up {
    margin-top: var(--md);
    margin-bottom: var(--lg);
}

section .two-up:last-child,
section figure:last-child {
    margin-bottom: 0;
}

.two-up {
    margin: var(--xxl) 0 var(--xxxl) 0;
    gap: var(--lg) var(--xs);
}

@media screen and (min-width: 1000px) {
    section>figure {
        min-width: 980px;
    }

    section>figure,
    section>.two-up {
        /* padding: 0 var(--lg); */
        /* max-width: 1980px; */
        margin-left: auto;
        margin-right: auto;
        width: fit-content;
    }

}

.two-up figure {
    margin: 0;
}

.two-up figure {
    height: 100%;
    display: flex;
    flex-direction: column;
    /* background: var(--surfaceColor); */
}

.two-up img,
.two-up pre {
    margin: auto 0;
}

.two-up pre {
    height: 100%;
}

.two-up figcaption {
    /* background: var(--backgroundColor); */
    width: 100%;
    margin-top: 0;
    padding-top: var(--sm);
    max-width: unset;
}

.tile-grid figcaption {
    background: none;

}

.tile-grid img {
    opacity: 1;
}

section pre {
    display: block;
    background: var(--backgroundColor);
    /* height: 100%; */
    text-align: left;
    padding: var(--md) var(--lg);
    max-width: 100vw;
    /* overflow: scroll; */
}

.stats--number {
    display: block;
    /* color: var(--linkColor); */
    line-height: 1;
    /* font-family: "Fraunces", serif; */
    font-weight: 600;
    margin-bottom: var(--xxs);
}

/* @media screen and (min-width: 600px) {
    .stats-container {
        text-align: center;
    }
} */

nav.project-nav {
    padding: 0 var(--md);
    margin: var(--xl) auto var(--xxl) auto;
}

nav.project-nav ul {
    display: flex;
    gap: var(--md);
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

nav.project-nav .description {
    display: none;
}

nav.project-nav a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    position: relative;
    padding-left: var(--sm);
}

nav.project-nav a:hover {
    color: var(--copyColor);
}

/* nav.project-nav a:hover .direction {
    text-decoration: underline wavy var(--linkColor) 1px;
    text-underline-offset: 6px;
    text-decoration-skip-ink: none;
} */
nav.project-nav a:before {
    content: "<";
    position: absolute;
    left: 0;
}

nav.project-nav li:last-child {
    text-align: right;
}

nav.project-nav li:last-child a {
    padding-left: 0;
    padding-right: var(--sm);
}

nav.project-nav li:last-child a:before {
    transform: rotate(180deg);
    left: unset;
    right: 0;
}

@media screen and (min-width: 600px) {
    nav.project-nav .description {
        display: inline-block;
        font-weight: 400;
        font-style: italic;
    }
}

video {
    height: auto;
}

img {
    height: auto;
}

@media screen and (min-width: 1045px) {

    pre,
    img,
    video {
        border-radius: var(--borderRadiusMd);
    }
}


footer .container {
    border-top: 2px solid var(--surfaceColor);
}

footer {
    mask: unset;
    background: var(--backgroundColor);
    padding-top: var(--md);
}


.width-content {
    width: 100%;
}

.width-content img {
    margin: 0 auto;
}

.width-max {
    max-width: 1500px;
    width: 100%;
}


.article-body {
    padding: var(--xxxl) 0;
    background: var(--cardBackground);
    --mask:
        radial-gradient(78.1px at 50% 110px, #000 99%, #0000 101%) calc(50% - 100px) 0/200px 51% repeat-x,
        radial-gradient(78.1px at 50% -60px, #0000 99%, #000 101%) 50% 50px/200px calc(51% - 50px) repeat-x,
        radial-gradient(78.1px at 50% calc(100% - 110px), #000 99%, #0000 101%) calc(50% - 100px) 100%/200px 51% repeat-x,
        radial-gradient(78.1px at 50% calc(100% + 60px), #0000 99%, #000 101%) 50% calc(100% - 50px)/200px calc(51% - 50px) repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);
}

.article-body section {
    background: transparent;
}

/* .wave {
  --mask:
    radial-gradient(78.1px at 50% 110px,#000 99%,#0000 101%) calc(50% - 100px) 0/200px 100%,
    radial-gradient(78.1px at 50% -60px,#0000 99%,#000 101%) 50% 50px/200px 100% repeat-x;
  -webkit-mask: var(--mask);
          mask: var(--mask);
} */
/* footer {
    background: var(--cardBackground);
} */

section.projects-section {
    padding: var(--xxl) var(--md) var(--sm) var(--md);
}

@media screen and (max-width: 600px) {
    img.no-mobile {
        display: none;
    }

    img.mobile-only {
        max-height: unset;
        width: 100%;
    }

    img.width-padding {
        margin: var(--md) var(--md) 0 var(--md);
        border-radius: var(--borderRadiusMd);
        border: 1px solid var(--surfaceColor);
        max-width: 100%;
        width: calc(100% - var(--md) - var(--md));
    }
}

@media screen and (min-width: 600px) {
    img.mobile-only {
        display: none;
    }

}