header .container {
    max-width: 980px;
}

section h2,
section p {
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
}

img {
    opacity: 1;
    border: 1px solid var(--surfaceColor);
}

figure {
    max-width: 1500px;
    margin: 0 auto;
}

figure figcaption {
    font-style: italic;
    max-width: calc(980px + var(--lg) + var(--lg));
    margin: var(--sm) auto 0 auto;
    padding: 0 var(--lg);
}

section {
    padding: var(--lg) 0;
}

section .container {
    padding: 0 var(--lg);
}

section figure {
    margin-top: var(--xl);
    margin-bottom: var(--xl);
}
.two-up {
    margin: var(--xl) 0;
}
.two-up figure {
    margin: 0;
}
.tile-grid figcaption {
    background: none;
}
.tile-grid img {
    opacity: 1;
}
section pre {
    display: block;
    background: var(--cardBackground);
    /* height: 100%; */
    text-align: left;
    padding: var(--md) var(--lg);
    max-width: 100vw;
    overflow: scroll;
}

.stats-container {
    max-width: 980px;
    margin: var(--md) auto var(--xl) auto;
    display: flex;
    flex-wrap: wrap;
    text-wrap: balance;
    gap: var(--md);
}
.stats--number {
    font-size: 2.5rem; /*tbd*/
    display: block;
    font-family: "Fraunces", serif;
	line-height: .8;
	font-weight: 500;
	letter-spacing: -.2rem;
	margin-bottom: var(--sm);
}
/* @media screen and (min-width: 600px) {
    .stats-container {
        text-align: center;
    }
} */

nav.project-nav {
    max-width: 980px;
    margin: 0 auto var(--lg) auto;
}
nav.project-nav ul {
    display: flex;
    gap: var(--md);
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}