header .container {
    max-width: 980px;
}
header .tile-grid {
    max-width: 850px;
    gap: 0 var(--md);
}
/* header h3 {
    grid-column: 1;
} */
header .tags {
    flex-direction: row;
}
header .stats--desc {
    text-wrap: balance
}
h1 {
    margin-bottom: var(--xl);
}

@media screen and (min-width: 800px) {
    h1 {
        margin-bottom: var(--xxl);
    }
    header .container {
        margin-top: var(--xl);
    }
    header .tags {
        grid-column: 1/-1;
        padding-bottom: var(--xl);
    }
    header .stats--desc {
        padding-bottom: var(--xl);
    }
}


section h2,
section h3,
section p, 
section ol{
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
}
ol {
    padding-left: var(--lg);
}
ol li {
    margin-bottom: var(--xxs);
}
section h2 {
    border-bottom: 2px solid var(--surfaceColor);
    padding-bottom: var(--xs);
}
section h2.text-align-center {
    border-bottom: 0;
}
nav.breadcrumbs {
    position: relative;
    z-index: 2;
    margin-bottom: var(--xxs);
    /* opacity: .8; */
}
nav.breadcrumbs ul {
    display: block;
}
nav.breadcrumbs li {
    display: inline-block;
}
nav.breadcrumbs li:first-child {
    display: none;
}
@media screen and (min-width: 600px) {
    nav.breadcrumbs li:first-child {
        display: inline-block;
    }
    nav.breadcrumbs li:first-child::after {
        content: "/";
        margin: 0 var(--xs) 0 var(--xxs);
        color: var(--copyColor);
    }
}

nav.breadcrumbs a {
    color: var(--linkColor);
    text-decoration: none;
}


.overview {
    background: var(--cardBackground);
    border-radius: var(--borderRadiusMd);
    padding: var(--md);
    margin-top: var(--xl);
}

img {
    opacity: 1;
    max-height: 1200px; /*improve this some */
    border: 1px solid var(--surfaceColor);
}

figure {
    max-width: 1500px;
    margin: 0 auto;
}

figure figcaption {
    font-style: italic;
    max-width: calc(980px + var(--lg) + var(--lg));
    margin: var(--sm) auto 0 auto;
    padding: 0 var(--lg);
}
figure figcaption code {
    font-style: normal;
}

section {
    padding: var(--lg) 0;
}

section .container {
    padding: 0 var(--lg);
}

section figure {
    margin-top: var(--xxl);
    margin-bottom: var(--xxxl);
}
.two-up {
    margin: var(--xxl) 0 var(--xxxl) 0;
    gap: var(--lg);
} 
@media screen and (min-width: 1000px) {
    section > figure {
        min-width: 980px;
    }
    section > figure,
    section > .two-up {
        padding: 0 var(--lg);
        /* max-width: 1980px; */
        margin-left: auto;
        margin-right: auto;
        width: fit-content;
    }
    
}
.two-up figure {
    margin: 0;
}

.two-up figure {
    height: 100%;
    display: flex;
    flex-direction: column;
    background: var(--surfaceColor);
}
.two-up img,
.two-up pre {
    margin: auto 0;
}
.two-up pre {
    height: 100%;
}
.two-up figcaption {
    background: var(--backgroundColor);
    width: 100%;
    margin-top: 0;
    padding-top: var(--sm);
    max-width: unset;
}

.tile-grid figcaption {
    background: none;

}
.tile-grid img {
    opacity: 1;
}
section pre {
    display: block;
    background: var(--cardBackground);
    /* height: 100%; */
    text-align: left;
    padding: var(--md) var(--lg);
    max-width: 100vw;
    overflow: scroll;
}

.stats--number {
    display: block;
    /* color: var(--linkColor); */
    line-height: 1;
    /* font-family: "Fraunces", serif; */
	font-weight: 500;
	margin-bottom: var(--xxs);
}
/* @media screen and (min-width: 600px) {
    .stats-container {
        text-align: center;
    }
} */

nav.project-nav {
    max-width: 980px;
    margin: 0 auto var(--lg) auto;
}
nav.project-nav ul {
    display: flex;
    gap: var(--md);
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}


video {
    height: auto;
}
img {
    height: auto;
}


footer .container {
    border-top: 2px solid var(--surfaceColor);
}
footer {
    mask: unset;
    padding-top: 0;
}


.width-content {
    max-width: 980px;
    width: 100%;
}
.width-max {
    max-width: 1500px;
    width: 100%;
}

.wave {
  --mask:
    radial-gradient(78.1px at 50% 110px,#000 99%,#0000 101%) calc(50% - 100px) 0/200px 100%,
    radial-gradient(78.1px at 50% -60px,#0000 99%,#000 101%) 50% 50px/200px 100% repeat-x;
  -webkit-mask: var(--mask);
          mask: var(--mask);
}
footer {
    background: var(--cardBackground);
}


@media screen and (max-width: 600px) {
    img.no-mobile {
        display: none;
    }
    img.mobile-only {
        max-height: unset;
        width: 100%;
    }
}
@media screen and (min-width: 600px) {
    img.mobile-only {
        display: none;
    }
    
}
