/* Root css */
body {
	font-family: "Poppins", sans-serif;
	letter-spacing: 0;
	line-height: 1.8;

	--xxxs: .125rem;
	--xxs: .25rem;
	--xs: .5rem;
	--sm: 1rem;
	--md: 1.5rem;
	--lg: 2rem;
	--xl: 3rem;
	--xxl: 4rem;
	--xxxl: 6rem;



	--flex-50: 1 1 22.75em;

	--flex-33: 1 1 13.33em;
	--flex-66: 2 1 26.66em;

	--flex-25: 1 1 13.33em;
	--flex-75: 3 1 39.99em;

	--flex-desktop: 768px;

	--copyColor: #2d3a17;
	--backgroundColor: rgb(255,255,244);
	--cardBackground: rgba(56,73,29,.075);
	--surfaceColor: rgba(56,73,29,.15);
	--tagBg: rgba(56,73,29,.15);
	--tagText: #1C250F;
	--linkColor: #121A59;
	--accentColor: rgb(56,73,29);

	--borderRadiusSm: 4px;
	--borderRadiusMd: 8px;

	color: var(--copyColor);
	background-color: var(--backgroundColor);
}

body.dark {
	--copyColor: rgb(255,255,244);
	--backgroundColor: #111609;
	--cardBackground: rgb(255,255,244,.075);
	--surfaceColor: rgb(255,255,244,.15);
	--tagBg: rgb(255,255,244,.15);
	--tagText: rgb(255,255,244);
	--linkColor: #b7dbf1;
	--accentColor: rgb(56,73,29);
}

img {
	/*Temp, for placeholder img */
	opacity: .2;
}
a {
	color: var(--linkColor);
}

/***

https://www.figma.com/color-wheel/

v3:
Moss, Almost black
#111609

Moss, Darkerer #1C250F
rgb(28,37,15)

Moss, Darker
#242f13
rgba(36,47,19,1)

Harbor, Darker #0E193A
rgb(14,25,58)

Harbor, Lighter #7B94DF

#38491d Moss
rgb(56,73,29)

#fffff4 Linen
rgb(255,255,244)

#b7dbf1 Breeze
rgb(183,219,241)

Breezer, Darker


#26449e Harbor
rgb(38,68,158)

v2:
Darker green #212E1F
Dark rgb(49,69,46) / #31452E
Cream rgb(248,242,232) / #f8f2e8
Navy: #31452E
Lighter blue #505577

v1:
Cloud
rgba(242,237,231,1)

Forest - mid tone/accent
rba(79,115,92,1);

Midnight
rgba(47,47,47,1);




***/



.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0); /* Legacy property for Internet Explorer */
  clip-path: inset(50%);
  white-space: nowrap;
}

.display-none {
	display: none;
}
.balance {
	text-wrap: balance;
}
h1, h2 {
	font-family: "Fraunces", serif;
	line-height: .8;
	font-weight: 500;
	letter-spacing: -.2rem;
	margin-bottom: var(--sm);
}
h1 {
	font-size: 6rem;
}
h2 {
	font-size: 3rem;
}
h3 {
	font-weight: 500;
}
p {
	max-width: 900px; /*a11y readability */
	margin-bottom: var(--sm);
}
h3,
.subhead,
.tile-grid a {
	font-size: 1.115rem;
	letter-spacing: 0.05rem;
	margin-bottom: var(--xs);
	font-weight: 500;
}
code, pre, .mono {
	font-family: "Space Mono", monospace;
}
code {
	padding: var(--xxxs) var(--xxs);
	display: inline;
	font-family: "Space Mono", monospace;
	background: var(--tagBg);
	color: var(--tagText)
}

/* Buttons */
.button {
	padding: var(--xs) var(--sm);
	border: 1px solid var(--linkColor);
	text-decoration: none;
	border-radius: var(--borderRadiusSm);
}
.button.primary {
	background: var(--linkColor);
	color: var(--backgroundColor);
}
.button.alternate {
	background: transparent;
	color: var(--linkColor);
}

.image--container {
	background: var(--backgroundColor);
}
.image--container-polaroid {
	width: 100%;
	width: fit-content;
	margin: 0 auto var(--lg) auto;
}
.image--polaroid {
	height: auto;
	opacity: .8;
	mix-blend-mode: luminosity;
	max-width: 300px;
	border-radius: var(--borderRadiusMd); /*mobile - no radius*/
}


@keyframes move-down {
  0% {
    transform: translate(0, -100px);
  }
  50% {
    transform: translate(0, 0);
  }
  100% {
	transform: translate(0, 0);
	
  }
}

@keyframes fade-in {
  0% {
    opacity: .66;
  }
  50% {
    opacity: 1;
  }
  100% {
	opacity: 1;
  }
}

@keyframes fade-in-shift {
  0% {
	transform: translate(0, -.5em);
    opacity: .2;
  }
  50% {
	transform: translate(0, 0);
    opacity: 1;
  }
  100% {
	transform: translate(0, 0);
	opacity: 1;
  }
}

@keyframes follow-down {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 0);
  }
  100% {
	transform: translate(0, 50vh);
  }
}

@media screen and (min-width: 600px) {
  @supports (animation-timeline: scroll()) {
	.image--polaroid {
		
		transform: translate(0, -100px);
		animation: move-down ease-out forwards;
  		/* -webkit-animation-timeline: scroll(); */
  		animation-timeline: view();
  	}

	.header--image img {
		transform: translate(0, 100px);
		animation: follow-down ease-out forwards;
  		/* -webkit-animation-timeline: scroll(); */
  		animation-timeline: view();
  	}

	section {
		opacity: .66;
		animation: fade-in ease-out forwards;
  		/* -webkit-animation-timeline: scroll(); */
  		animation-timeline: view();
		animation-range: 40vh 80vh;
	}


  }
}


/* Simple two by component */
.two-up {
	display: flex;
	flex-direction: row;
	gap: var(--md) var(--xl);
	flex-wrap: wrap;
}
.flex--50 {
	flex: var(--flex-50);
}
.flex--33 {
	flex: var(--flex-33);
}
.flex--66 {
	flex: var(--flex-66);
}

/* Nav css */

nav.navbar {
	padding: var(--md) var(--lg);
	position: relative;
	z-index: 5;
}
.navbar--contents {
	display: flex;
	flex-direction: row;
	gap: var(--md);
}
.navbar--icon {
	height: 14px;
	width: 14px;
}
.navbar a {
	text-decoration: none;
	color: var(--copyColor);
}
.navbar--links {
	width: 100%;
}
.right-align {
	margin-left: auto;
}
/* Mobile only nav */
.navbar--level-2 { 
	/* Closed on load */
	display: none;
	width: 100%;
}

/* Mobile only styles */
@media screen and (max-width: 600px) {
	/* On mobile, still read full text for clarity */
	.sr-mobile {
		position: absolute;
		width: 1px;
		height: 1px;
		overflow: hidden;
		clip: rect(0 0 0 0); /* Legacy property for Internet Explorer */
		clip-path: inset(50%);
		white-space: nowrap;
	}
}
/* Desktop only styles - can we exclude on mobile somehow? */
@media screen and (min-width: 600px) {
	.navbar--hamburger {
		display: none;
	}
	.navbar--level-2 {
		display: flex;
	}
	.text-align-center {
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}
}

header,
section,
footer {
	padding: var(--xxxl) var(--lg);
}
.container {
	max-width: 1500px;
	margin: 0 auto;
	width: 100%;
}
section, footer {
	background: var(--backgroundColor);
}

.header--hero {
	min-height: 90vh;
	display: flex;
	flex-direction: column;
}
.header--container {
	margin: auto;
	gap: var(--md) var(--xl);
	flex-wrap: wrap;
	z-index: 2;

	background-position: center right;
	background-size: contain;
	background-repeat: no-repeat;
	
	
}
.header--title {
}
.header--image {
	min-height: 300px;
}
.header--image img {
	/* position: fixed; */
	width: 300px;
	top: 33vh;
	z-index: -1;
}
.header--background {
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	opacity: .4;
	overflow: hidden;
	max-height: 90vh;
}
.header--background img {
	object-fit: cover;
    width: 66vw;
    margin-left: auto;
    margin-right: 0;
	transform: rotate(90deg);
}
.header--about { 
 	margin-top: var(--xl);
}

.skills .container {
	display: flex;
	flex-direction: row;
	gap: var(--md) var(--xl);
	flex-wrap: wrap;
}
.skills--container {
	display: flex;
	flex-direction: column;
	gap: var(--lg);
}
.skills--list {
	display: flex;
	flex-wrap: wrap;
	gap: var(--xs);
}
.skills--list li {
	padding: var(--xxxs) var(--xs);
	display: block;
	font-family: "Space Mono", monospace;
	background: var(--tagBg);
	color: var(--tagText)
}





section.experience {
	/* Temp - clean this up */
	padding-left: 0;
	padding-right: 0;
	position: relative;
	z-index: 0;
}

.slider--timeline {
	overflow: auto;
	margin-top: var(--lg);
}
.slider--slides {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	width: 100%;
	position: relative;
	margin-top: var(--lg);
	flex-wrap: nowrap;
	scroll-snap-type: x mandatory;
	scroll-padding-left: var(--lg);
	scroll-padding-right: var(--lg);
	padding: 0 var(--lg);
	overflow-x: scroll;
	scroll-behavior: smooth;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: none;
	scrollbar-width: none;
}
.slider--slide {
	display: block;
	text-align: center;
	padding: var(--sm);
	height: 100%;
	width: 100%;
	scroll-snap-align: center;
	flex: 1 0 70vw;
	text-wrap: balance;
	position: relative;
}

@media screen and (min-width: 850px) {
	.slider--slide {
		flex: 1 0 27vw;
	}
}
/* Check on big monitor */
@media screen and (min-width: 2000x) {
	.slider--slide {
		flex: 1 0 15vw;
	}
}
.slider--slide:first-child:before {
	content: "";
	position: absolute;
	background: var(--backgroundColor);
	height: 50px;
	width: 50px;
	left: 0;
	top: -50px;
	width: calc(50% - 0px + var(--lg));
  	margin-left: calc((var(--lg) + 17px) * -1);
	z-index: 0;
}
.slider--slide:last-child:before {
	content: "";
	position: absolute;
	background: var(--backgroundColor);
	height: 50px;
	width: 50px;
	right: 0;
	top: -50px;
	width: calc(50% - 17px + var(--lg));
	margin-right: calc((var(--lg)) * -1);
	z-index: 0;
}
.slider--controls {
	width: fit-content;
	display: flex;
	flex-direction: row;
	gap: var(--sm);
	padding: 0 var(--lg);
	margin: var(--md) auto var(--sm) auto;
}
.slider--controls button {
	height: 50px; /*a11y min*/
    width: 50px;
    padding: 0;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 100px;
	cursor: pointer;
}
.slider--controls button:first-child {
    transform: rotate(180deg);
}
.slider--slide p {
	max-width: 400px;
	margin: 0 auto var(--sm) auto;
}
.slider--slide img,
.slider--slide dotlottie-wc {
	width: 50px;
	height: auto;
	margin: -4rem auto var(--sm) auto;
	background: var(--backgroundColor)
}
.experience hr {
	height: 1px;
	border: 1px solid var(--copyColor);
	width: 100%;
	margin-top: var(--xxxl);
	opacity: .3;
}

@media screen and (min-width: 600px) {
	.slider--timeline {
		margin-top: calc((var(--xl) + .5rem )* -1);
	}
	.slider--slides {
		padding: var(--xl) var(--lg) 0 var(--xl);
	}
}


footer ul {
	display: flex;
	flex-direction: row;
	gap: var(--sm);
	width: fit-content;
	padding-bottom: var(--xxl);
}
footer .container {
	padding: var(--xxl) 0;
}



.projects-old {
	padding-top: 0;
}
.projects .tile-grid {
	margin-top: var(--xl);
}
/* Mobile - to move out */
.tile-grid {
	grid-template-columns: 1fr;
}
.tile-grid {
	display: grid;
	list-style: none;
	grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
	gap: var(--md);
	grid-auto-flow: dense;
}
.tile-grid.odd {
	grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
}
.tile-grid.even {
	grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
}
.tile-grid li {
	height: 100%;
	background: var(--cardBackground);
	display: flex;
	flex-direction: column;
	position: relative;
	border-radius: var(--borderRadiusMd);
	overflow: hidden;
}
.tile-grid img {
	width: 100%;
	height: auto;
}
.tile-grid .tags {
	display: flex;
	flex-wrap: wrap;
	margin-top: auto;
	gap: var(--xs);
	font-family: "Space Mono", monospace;
	padding-right: var(--lg);
}

.tile-content {
	display: flex;
	flex-direction: column;
	padding: var(--md);
	flex: 1;
}
.tile-grid a {
	text-decoration: none;
}
.tile-grid .tags span {
	display: inline-block;
	background: var(--tagBg);
	color: var(--tagText);
	padding: var(--xxxs) var(--xs);
}
.section-cta {
	display: block;
	width: fit-content;
	margin: var(--xl) auto 0 auto;
}
.section-cta-top {
	display: block;
	width: fit-content;
	margin: 0 auto var(--xxl) auto;
}
.tile-grid .tile--arrow {
	align-self: flex-end;
	transform: scale(1.5);
	opacity: .5;
	margin: 0 var(--md) var(--md) var(--md);
	position: absolute;
	bottom: 0;
}
.tile-grid.compact {
	grid-template-columns: 1fr;
}
.tile-grid.compact li {
	flex-direction: row;
	flex-wrap: wrap;
	padding: var(--md);
	gap: var(--md);
}
.tile-grid.compact img {
	width: 125px;
	flex: 0 1 125px;
}
.tile-grid.compact .tags {
	margin-top: 0;
}
.tile-grid.compact .tile-content {
	flex: 1 1 28ch;
	padding: 0;
	justify-content: center;
}
.tile-grid .wide {
	grid-column: span 2;
	flex-direction: row;
}
.tile-grid .wide img {
	flex: 0 0 50%;
}
.tile-grid .wide svg {
	right: 0;
}
.tile-grid .tall {
	grid-row: span 2;
}


.tile-grid.compact .tile--arrow {
	align-self: center;
	margin: 0;
	right: var(--md);
	bottom: unset;
}
.two-up .sticky {
	position: sticky;
	top: var(--xxl);
	height: fit-content;
}

