/* Root css */
@layer reset, base, atoms, molecules, organisms, sections, utilties, animations;

@layer reset {

	/* 1. Use a more-intuitive box-sizing model */
	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}

	/* 2. Remove default margin */
	* {
		margin: 0;
	}

	/* 3. Enable keyword animations */
	@media (prefers-reduced-motion: no-preference) {
		html {
			interpolate-size: allow-keywords;
		}
	}

	html {
		scroll-behavior: smooth;
	}

	body {
		/* 4. Add accessible line-height */
		line-height: 1.5;
		/* 5. Improve text rendering */
		-webkit-font-smoothing: antialiased;
	}

	/* 6. Improve media defaults */
	img,
	picture,
	video,
	canvas,
	svg {
		display: block;
		max-width: 100%;
	}

	/* 7. Inherit fonts for form controls */
	input,
	button,
	textarea,
	select {
		font: inherit;
	}

	/* 8. Avoid text overflows */
	p,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		overflow-wrap: break-word;
	}

	/* 9. Improve line wrapping */
	p {
		text-wrap: pretty;
	}

	/* h1, h2, h3, h4, h5, h6 {
	  text-wrap: balance;
	} */
	ul,
	ol {
		margin: 0;
		padding: 0;
	}

	ul {
		list-style: none;
	}

	/*
	  10. Create a root stacking context
	*/
	#root,
	#__next {
		isolation: isolate;
	}
}

@layer base {

	h1,
	h2,
	h3,
	h4,
	h5,
	p,
	ul,
	ol {
		color: var(--copyColor);
	}

	h1,
	h2 {
		font-family: "Fraunces", serif;
		line-height: .8;
		font-weight: 400;
		margin-bottom: var(--sm);
	}

	h1 {
		font-size: 2.36rem;
		line-height: 1;
		letter-spacing: -.175rem;
		max-width: 1056px;
	}

	h1+p {
		margin-top: var(--xl);
		margin-bottom: var(--md);
	}

	h1 code {
		font-size: 2rem;
		text-align: left;
	}

	.size-2,
	h2 {
		font-size: 2rem;
		letter-spacing: -.125rem;
	}

	h3 {
		font-weight: 600;
	}

	p {
		font-size: 1rem;
		max-width: 900px;
		/*a11y readability */
		margin-bottom: var(--lg);
		line-height: 1.75;
	}

	.fine-print {
		font-size: .95rem;
	}


	b {
		font-weight: 600;
	}

	a {
		font-weight: 600;
		text-decoration: none;
		color: var(--copyColor);
	}

	p a {
		text-decoration: underline wavy var(--linkColor) 1px;
		text-underline-offset: 4px;
		text-decoration-skip-ink: none;
	}

	a:hover {
		color: var(--linkColor);
		text-decoration: underline wavy var(--linkColor) 1px;
		text-underline-offset: 4px;
		text-decoration-skip-ink: none;
	}

	/* TODO - h2 just have underline instead, except for text-align-center */
	hr {
		height: 2px;
		outline: unset;
		border: unset;
		background: var(--surfaceColor);
	}

	@media screen and (min-width: 850px) {
		h1 {
			font-size: 4rem;
			line-height: 1;
			letter-spacing: -.2rem;
		}

		h1 code {
			font-size: 3.33rem;
		}

		.size-2,
		h2 {
			font-size: 2.5rem;
			letter-spacing: -.175rem;
		}

		p.subhead .image--container {
			display: inline;
		}

		p.subhead code {
			font-size: 1.1rem;
		}

		.subhead {
			font-size: 1.215rem;
			letter-spacing: 0;
			margin-bottom: var(--xl);
		}
	}



	h3,
	section .tile-grid a {
		font-size: 1.215rem;
		letter-spacing: 0;
		margin-bottom: var(--xs);
		font-weight: 600;
	}

	code,
	pre,
	.mono {
		font-family: "Space Mono", monospace;
	}

	code {
		padding: var(--xxxs) var(--xxs);
		display: inline;
		font-family: "Space Mono", monospace;
		background: var(--tagBg);
		color: var(--tagText);
		border-radius: 2px;
	}

	.balance {
		display: inline-block;
		text-wrap: balance;
	}


	.text-align-right {
		text-align: right;
		margin-left: auto;
	}

	@media screen and (min-width: 800px) {

		.text-align-center {
			display: block;
			text-align: center;
			margin-left: auto;
			margin-right: auto;
		}
	}

	section,
	header,
	footer {
		padding: var(--xxl) var(--md);
		background: var(--backgroundColor);
	}

	.container {
		max-width: 1500px;
		margin: 0 auto;
		width: 100%;
	}



}

@layer atoms {

	/* Tags */
	.tags>span,
	.tags li {
		display: inline-block;
		background: var(--tagBg);
		color: var(--tagText);
		padding: var(--xxxs) var(--xs);
		border-radius: var(--borderRadiusSm);
	}

	/* Arrow links */
	.link-list a,
	a.arrow-link {
		text-decoration: none;
		transition: all 250ms ease-out;
	}

	.link-list a:after,
	a.arrow-link:after {
		content: "⤴";
		/* transform: rotate(-25deg); */
		display: inline-block;
		vertical-align: text-bottom;
		margin-left: var(--xs);
	}

	.link-list a:hover,
	a.arrow-link:hover {
		color: var(--copyColor);
		text-decoration: underline wavy var(--linkColor) 1px;
		text-underline-offset: 4px;
		text-decoration-skip-ink: none;
	}

	/* Buttons */
	.button {
		padding: var(--xs) var(--sm);
		border: 2px solid var(--copyColor);
		text-decoration: none;
		border-radius: var(--borderRadiusSm);
		/* box-shadow: 3px 3px 1px var(--tagBg); */
		/* transition: all 50ms ease-in; */
		transition: all 250ms ease-in;
		cursor: pointer;
	}

	.button.primary {
		display: inline-block;
		background: var(--copyColor);
		color: var(--backgroundColor);
	}

	.button.primary:hover,
	.button.primary:focus {
		/** TODO - assign */
		background: var(--linkColor);
		border: 2px solid var(--linkColor);
		text-decoration: none;
	}

	.button.alternate {
		display: inline-block;
		background: transparent;
		color: var(--copyColor);
		border: 2px solid var(--copyColor);
	}

	.button.alternate:hover,
	.button.alternate:focus {
		background: var(--tagBg);
		text-decoration: none;
	}

	/* Theme toggle: https: //toggles.dev/classic/html */
	.theme-toggle {
		color: var(--copyColor);
		background-color: var(--backgroundColor);
		padding: var(--xs);
	}

	.theme-toggle--container {
		opacity: 0;
		animation: delay-viz 150ms ease-out forwards;
		animation-delay: 250ms;
	}

	@keyframes delay-viz {
		from {
			opacity: 0;
		}

		to {
			opacity: 1;
		}
	}

	.theme-toggle svg {
		width: 28px;
		height: 28px;
	}

}

@layer molecules {

	/* 2 Button combo section - header */
	.button-section {
		display: flex;
		width: 100%;
		text-align: center;
		border: 2px solid var(--copyColor);
		border-radius: var(--borderRadiusSm);
	}

	.button-section .button,
	.button-section .button:hover {
		border: unset;
		flex: 1 0 auto;
		border-radius: unset;
	}

	.button-section .button:first-child {
		border-right: 2px solid var(--copyColor);
	}

	@media screen and (min-width: 600px) {
		.button-section {
			width: fit-content;
		}

		.button-section .button {
			flex: auto;
		}
	}

	/* Tag list */
	.tags {
		display: flex;
		flex-wrap: wrap;
		margin-top: auto;
		gap: var(--xs);
		font-family: "Space Mono", monospace;
		padding-right: var(--lg);
	}


}

@layer organisms {

	/* Simple two by flex layout */
	.two-up {
		display: flex;
		flex-direction: column;
		gap: var(--md) var(--xl);
		flex-wrap: wrap;
	}

	.two-up.wrap-reverse {
		flex-direction: column-reverse;
		flex-wrap: wrap-reverse;
	}

	@media screen and (min-width: 1010px) {

		.two-up,
		.two-up.wrap-reverse {
			flex-direction: row;
		}

		.flex--25 {
			flex: var(--flex-25);
		}

		.flex--50 {
			flex: var(--flex-50);
		}

		.flex--33 {
			flex: var(--flex-33);
		}

		.flex--66 {
			flex: var(--flex-66);
		}

		.two-up .sticky {
			position: sticky;
			top: calc(var(--xxl) + var(--xxl));
			height: fit-content;
		}
	}

	.accent,
	section.accent {
		background: var(--cardBackground);
		padding-top: var(--xxxl);
		padding-bottom: var(--xxxl);
	}

	.accent section {
		background: transparent;
	}

	section.wave {
		padding-bottom: calc(var(--xxl) * 2);
		padding-top: calc(var(--xxl) * 2);
	}

	/* https://css-generators.com/wavy-shapes/ */
	.wave {
		--mask:
			radial-gradient(78.1px at 50% 110px, #000 99%, #0000 101%) calc(50% - 100px) 0/200px 51% repeat-x,
			radial-gradient(78.1px at 50% -60px, #0000 99%, #000 101%) 50% 50px/200px calc(51% - 50px) repeat-x,
			radial-gradient(78.1px at 50% calc(100% - 110px), #000 99%, #0000 101%) calc(50% - 100px) 100%/200px 51% repeat-x,
			radial-gradient(78.1px at 50% calc(100% + 60px), #0000 99%, #000 101%) 50% calc(100% - 50px)/200px calc(51% - 50px) repeat-x;
		-webkit-mask: var(--mask);
		mask: var(--mask);
	}

	.accent .tags>*,
	.accent code {
		background: var(--tagBgAccent);
	}

}

@layer sections {

	/* Nav css */
	nav.navbar {
		padding: var(--sm) var(--md);
		position: relative;
		z-index: 5;
		position: fixed;
		top: 0;
		width: 100%;
		background: var(--backgroundColor);
		/* box-shadow: 0px 16px 26px var(--backgroundColor); */
	}

	.navbar--contents {
		display: flex;
		flex-direction: row;
		gap: var(--md);
	}

	.navbar--toggle {
		display: block;
	}

	.navbar--icon {
		height: 14px;
		width: 14px;
	}

	.navbar .icon-link svg {
		width: 2rem;
		height: 2rem;
	}

	.navbar li {
		display: flex;
		align-items: center;
	}

	.navbar a {
		min-height: 45px;
		/*a11y min*/
		display: flex;
		align-items: center;
	}


	/* Mobile only nav */
	.navbar--level-2 {
		/* Closed on load */
		display: none;
		width: 100%;
	}

	.navbar--level-1 {
		position: relative;
	}

	.navbar--level-2.js-open {
		display: inline-flex;
	}

	/* todo - cascade, vs max width */
	@media screen and (max-width: 800px) {
		body.js-nav-open {
			overflow: hidden;
		}

		.navbar--level-2 {
			position: fixed;
			flex-direction: column;
			top: var(--xxl);
			left: 0;
			width: 100%;
			height: calc(100vh - var(--xxl));
			max-width: 100vw;
			background: var(--cardBackground);
			z-index: 99;
			padding: var(--md) var(--md) var(--xxxl) var(--md);
		}

		.navbar--level-2 li {
			width: 100%;
		}

		.navbar--level-2 li a {
			width: 100%;
			padding: var(--sm) 0;
		}

		.navbar--level-2 li a.button {
			text-align: center;
			padding: var(--xs);
		}

		.navbar li.no-mobile,
		.navbar .no-mobile {
			display: none;
		}

		.navbar--level-2 li.contact {
			margin-top: auto;
		}

		.navbar .contact ul {
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			width: fit-content;
			margin: 0 auto;
			gap: var(--md);
		}
	}



	/* Desktop only styles - can we exclude on mobile somehow? */
	@media screen and (min-width: 800px) {

		.navbar--links {
			width: 100%;
		}

		.navbar li.mobile-only,
		.navbar .mobile-only {
			display: none;
		}

		.navbar--level-2 {
			display: flex;
		}
	}

	/* Footer */
	footer .copyright a {
		font-weight: 400;
	}

	footer a {
		text-decoration: none;
	}

	footer a.button {
		font-weight: 600;
	}

	footer ul {
		display: flex;
		flex-direction: row;
		width: 100%;
		gap: var(--md);
		padding-bottom: var(--xl);
		flex-wrap: wrap;
	}

	@media screen and (max-width: 690px) {

		footer .github span,
		footer .linkedin span {
			position: absolute;
			width: 1px;
			height: 1px;
			overflow: hidden;
			clip: rect(0 0 0 0);
			/* Legacy property for Internet Explorer */
			clip-path: inset(50%);
			white-space: nowrap;
		}

		footer ul .email+li {
			flex: 1 0;
		}
	}


	footer p {
		margin-bottom: var(--xxs);
	}

	footer .subhead {
		font-weight: 600;
		margin-bottom: var(--md);
	}

	footer h2 {
		margin-bottom: var(--lg);
	}

	footer .copyright {
		margin-top: auto;
		opacity: .75;
	}


	footer .container {
		padding: var(--xxxl) 0 0 0;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		gap: var(--xl) 0;
	}

	footer .icon-link {
		display: flex;
		flex-direction: row;
		gap: var(--xxs);
		align-items: center;
	}

	footer .icon-link svg {
		flex: 0 0 2rem;
		width: 2rem;
		height: 2rem;
	}


	footer .icon-link span {
		flex: 1 0 auto;
	}

	footer .email {
		flex: 1 0 100%;
	}

	footer .email a {
		width: 100%;
		text-align: center;
	}

	footer .about {
		flex: 1 0 100%;
	}

	@media screen and (min-width: 690px) {
		footer ul {
			width: fit-content;
		}

		footer li {
			flex: 1 1 10ch;
		}

		footer li {
			flex: unset;
		}

		footer ul {
			justify-content: flex-start;
		}

		footer .email a {
			min-width: 25ch;
			width: fit-content;
		}

		footer .copyright {
			text-align: right;
			margin-left: auto;
		}
	}

}

@layer utilties {
	.visually-hidden:not(:focus):not(:active) {
		position: absolute;
		width: 1px;
		height: 1px;
		overflow: hidden;
		clip: rect(0 0 0 0);
		/* Legacy property for Internet Explorer */
		clip-path: inset(50%);
		white-space: nowrap;
	}

	.display-none {
		display: none;
	}

	/* Mobile only styles */
	@media screen and (max-width: 600px) {
		.no-mobile {
			display: none;
		}
	}

	@media screen and (max-width: 800px) {

		/* On mobile, still read full text for clarity */
		.sr-mobile {
			position: absolute;
			width: 1px;
			height: 1px;
			overflow: hidden;
			clip: rect(0 0 0 0);
			/* Legacy property for Internet Explorer */
			clip-path: inset(50%);
			white-space: nowrap;
		}
	}
}

@layer animations {

	/* Wavy links on hover - nav only */
	a.animate-wavy {
		text-decoration: none;
		position: relative;
		overflow: hidden;
		display: inline-flex;
		white-space: nowrap;
		color: var(--copyColor);
	}

	a.animate-wavy:after {
		position: absolute;
		opacity: 0;
		top: 8px;
		left: 0;
		right: 0;
		bottom: 0;
		white-space: nowrap;
		content: attr(data-animation)attr(data-animation);
		color: transparent;
		line-height: 1.8;
		text-decoration-style: wavy;
		text-decoration-color: var(--linkColor);
		font-weight: 600;
		text-decoration: underline wavy var(--linkColor) 1px;
		text-underline-offset: 4px;
		text-decoration-skip-ink: none;
	}

	a.animate-wavy:hover {
		text-decoration: none;
		color: var(--copyColor);
	}

	a.animate-wavy:hover:after {
		opacity: 1;
		animation: wavy-slide 3s linear infinite;
	}

	@keyframes wavy-slide {
		to {
			margin-left: -35px;
		}
	}
}

body {
	font-family: "Poppins", sans-serif;
	letter-spacing: 0;
	line-height: 1.8;

	--xxxs: .125rem;
	--xxs: .25rem;
	--xs: .5rem;
	--sm: 1rem;
	--md: 1.5rem;
	--lg: 2rem;
	--xl: 3rem;
	--xxl: 4rem;
	--xxxl: 6rem;

	--flex-50: 1 1 22.75em;

	--flex-33: 1 1 13.33em;
	--flex-66: 2 1 26.66em;

	--flex-25: 1 1 13.33em;
	--flex-75: 3 1 39.99em;

	--flex-desktop: 768px;

	/* rgb base */
	--lightest: 256, 256, 256;
	--light: 244, 243, 238;
	/* --midAccent: 83, 115, 92; #53735c */
	--midAccent: 42, 106, 72;
	/*#2a6a48*/
	--darkAccent: 38, 87, 175;
	/*#2657AF	*/
	--paleAccent: 165, 203, 175;
	/*#a5cbaf*/
	--dark: 22, 42, 43;
	--darkest: 18, 18, 12;

	--copyColor: rgb(var(--darkest));
	--backgroundColor: rgb(var(--light));
	--cardBackground: rgba(var(--lightest), .75);
	--cardBackground: #FCFCFB;
	/*rendered color of the above, no opacity */
	--surfaceColor: rgba(var(--darkest), .25);
	--border1: rgba(var(--darkest), .25);
	--border2: rgba(var(--darkest), .45);
	--tagBg: rgba(var(--midAccent), .15);
	--tagBg: #D8DFD6;
	/* full opacity of above */
	--tagBgAccent: rgba(var(--midAccent), .20);
	--tagText: var(--copyColor);
	--linkColor: rgb(var(--midAccent));
	--accentColor: var(--surfaceColor);

	--borderRadiusSm: 4px;
	--borderRadiusMd: 8px;

	--lord-icon-primary: var(--copyColor);
	--lord-icon-secondary: var(--copyColor);

	color: var(--copyColor);
	background-color: var(--backgroundColor);
	/* 
	padding-top: var(--xl); */
}

[data-theme="dark"] body {
	--copyColor: rgb(var(--light));
	--backgroundColor: rgb(var(--darkest));
	--cardBackground: rgba(var(--lightest), .045);
	--cardBackground: #1C1C16;
	/*rendered color of the above, no opacity */
	--surfaceColor: rgba(var(--light), .4);
	--tagBg: rgba(var(--midAccent), .33);
	--tagBg: #1B2F1F;
	/* full opacity of above */
	--tagBgAccent: rgba(var(--midAccent), .33);
	--tagText: rgb(var(--light));
	--linkColor: rgb(var(--paleAccent));

	--lord-icon-primary: var(--copyColor);
	--lord-icon-secondary: var(--copyColor);
}




h2+hr {
	margin-bottom: var(--lg);
}







/* Projects grid */
.projects-section .tile-grid {
	margin-bottom: var(--xl);
	gap: var(--xs);
}

@media screen and (max-width: 915px) {
	.projects-section .tile-grid {
		gap: var(--md);
	}
}


/*Centered list */
.projects-section .github-list {
	width: fit-content;
}

.github-list lord-icon {
	flex: 0 0 24px;
	margin-top: 4px;
}

.github-list lord-icon:before {
	width: 32px;
	height: 32px;
	background: var(--cardBackground);
	border-radius: 100px;
	content: "";
	display: block;
	position: absolute;
	margin-top: -4px;
	margin-left: -4px;
}

@media screen and (min-width: 600px) {
	.projects-section .github-list {
		margin: 0 auto;
	}
}

/* End centered list */


.projects-section .tile-grid {
	margin-top: var(--xl);
}

/* Mobile - to move out */
.tile-grid {
	display: grid;
	list-style: none;
	grid-template-columns: 1fr;
	gap: var(--md);
}

.tile-grid>* {
	height: 100%;
	display: flex;
	flex-direction: column;
	position: relative;
	/* border: 1px solid var(--copyColor); */
}

.tile-grid figure {
	padding: var(--md);
	background: var(--cardBackground);
	border-radius: var(--borderRadiusMd);
	overflow: hidden;
}

.tile-grid figure figcaption {
	margin-top: auto;
}

.tile-content .eyebrow {
	margin-bottom: var(--xxxs);
	text-align: left;
	margin-left: 0;
	display: none;
}

.tile-grid li:has(a) {
	cursor: pointer;
}

.tile-grid img {
	width: 100%;
	height: auto;
	transition: all 250ms ease-in;
}

.tile--image {
	background: var(--backgroundColor);
	border-radius: var(--borderRadiusMd);
	overflow: hidden;
}

.tile--image img {
	opacity: 1;
	transition: all 250ms ease-in;
}


.tile--image img {
	object-fit: cover;
	object-position: center top;
	height: 100%;
}

/* Simplify mobile */
.tile-grid li .learn-more,
.tile-grid li .description {
	display: none;
}

.tile-content .tags {
	margin-top: auto;
}

.tile-content {
	padding: var(--sm) 0 var(--md) 0;
}

@media screen and (min-width: 915px) {
	.tile-grid>li {
		overflow: hidden;
		border-radius: var(--borderRadiusMd);
	}

	.tile-content {
		position: absolute;
		height: 100%;
		width: 100%;
		padding: var(--md);
		bottom: 0;
		border-radius: var(--borderRadiusMd);
		overflow: clip;
	}

	.tile-content>* {
		z-index: 1;
	}

	.tile-content a {
		transition: padding-top 250ms ease-out, opacity 150ms ease-out;
		padding-top: var(--sm);
		opacity: .5;
	}

	.tile-content:before {
		transition: opacity 250ms ease-in;
		width: 102%;
		height: 102%;
		position: absolute;
		content: "";
		background: var(--cardBackground);
		opacity: .97;
		top: -1%;
		left: -1%;
	}

	.tile-grid>li {
		background: var(--cardBackground);
	}

	.tile-eyebrow {
		display: block;
	}

	.tile--image {
		display: block;
		border-radius: 0;
		/* position: absolute; */
		top: 0;
		height: 100%;
		width: 100%;
		overflow: clip;
		border: 1px solid var(--cardBackground);
		transition: opacity 250ms ease-out;
	}

	.tile-content {
		opacity: 0;
		transition: opacity 250ms ease-in;
		z-index: 1;
	}

	.tile-grid li:hover .tile-content,
	.tile-grid li:focus-within .tile-content {
		opacity: 1;
		height: 100%;
	}

	.tile-grid li:hover .tile-content a,
	.tile-grid li:focus-within .tile-content a {
		padding-top: 0;
		opacity: 1;
	}

	.tile-grid li:focus-within .tile--image,
	.tile-grid li:hover .tile--image {
		opacity: .75;
	}
}




.tile-grid figure,
.tile-content {
	display: flex;
	flex-direction: column;
	flex: 1;
	transition: all 250ms ease-in;
}

.tile-grid a {
	text-decoration: none;
	width: fit-content;
	color: var(--copyColor);
}

.tile-grid a:after {
	content: " →";
	display: inline-block;
	margin-left: var(--xs);
	vertical-align: middle;
}



.section-cta {
	display: block;
	width: 100%;
	max-width: unset;
	margin-top: var(--xl);
}

.section-cta:has(.right-align) {
	text-align: right;
}

.section-cta a {
	display: inline-block;
}


.tile-grid .tile--arrow {
	align-self: flex-end;
	transform: scale(1.5);
	/* opacity: .5; */
	margin: 0 var(--md) var(--md) var(--md);
	position: absolute;
	bottom: 0;
	transition: all 150ms ease-out;
}



@media screen and (min-width: 915px) {
	.tile-grid {
		grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
		gap: var(--xs);
	}
}

@media screen and (min-width: 1300px) {
	.tile-grid {
		grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
	}

}