/* Root css */
body {
	font-family: "Poppins", sans-serif;
	letter-spacing: 0;
	line-height: 1.8;

	--xxxs: .125rem;
	--xxs: .25rem;
	--xs: .5rem;
	--sm: 1rem;
	--md: 1.5rem;
	--lg: 2rem;
	--xl: 3rem;
	--xxl: 4rem;
	--xxxl: 6rem;

	--flex-50: 1 1 22.75em;

	--flex-33: 1 1 13.33em;
	--flex-66: 2 1 26.66em;

	--flex-25: 1 1 13.33em;
	--flex-75: 3 1 39.99em;

	--flex-desktop: 768px;

	/* rgb base */
	--lightest: 256, 256, 256;
	--light: 244, 243, 238;
	--midAccent: 83, 115, 92; /*#53735c */
	--midAccent: 42,106,72; 	
	--paleAccent: 181, 183, 228; /*B5B7E4*/
	--dark: 22, 42, 43;
	--darkest: 18, 18, 12;

	--copyColor: rgb(var(--darkest));
	--backgroundColor: rgb(var(--light));
	--cardBackground: rgba(var(--dark), .05);
	--surfaceColor: rgba(var(--midAccent), .25);
	--tagBg: rgba(var(--dark), .15);
	--tagText: var(--copyColor);
	--linkColor: rgb(var(--midAccent));
	--accentColor: var(--surfaceColor);

	--borderRadiusSm: 4px;
	--borderRadiusMd: 8px;

	color: var(--copyColor);
	background-color: var(--backgroundColor);

	--lord-icon-primary: var(--copyColor);
	--lord-icon-secondary: var(--copyColor);
}

body .dark {
	--copyColor: rgb(var(--light));
	--backgroundColor: rgb(var(--darkest));
	--cardBackground: rgba(var(--lightest), .05);
	/* --surfaceColor: rgba(189,211,199, .25); */
	--tagBg: rgba(var(--midAccent), .35);
	--tagText: rgb(var(--light));
	--linkColor: rgb(var(--light));

	--lord-icon-primary: var(--copyColor);
	--lord-icon-secondary: var(--copyColor);
}

.slider--current-role lord-icon{
	opacity: 1;
}
.slider--current-role,
.tile-grid li:has(a) {
	--lord-icon-primary: #4015A2;
	--lord-icon-secondary: #4015A2;
	/*transition-delay: 250ms;*/
}
body.dark .slider--current-role,
body.dark .tile-grid li:has(a) {
	--lord-icon-primary: #D6B4FC;
	--lord-icon-secondary: #D6B4FC;
}

img {
	/*Temp, for placeholder img */
	opacity: .2;
}

a {
	text-decoration-style: wavy;
	color: var(--linkColor);
	text-decoration-color: var(--linkColor);
	font-weight: 500;
	text-decoration: underline wavy var(--linkColor) 1px;
	text-underline-offset: 6px;
}
a:hover {
	color: var(--copyColor);
}

b {
	font-weight: 500;
}

h2 + hr {
	margin-bottom: var(--lg);
}
/***

https://www.figma.com/color-wheel/

v3:
Moss, Almost black
#111609

Moss, Darkerer #1C250F
rgb(28,37,15)

Moss, Darker
#242f13
rgba(36,47,19,1)

Harbor, Darker #0E193A
rgb(14,25,58)

Harbor, Lighter #7B94DF

#38491d Moss
rgb(56,73,29)

#fffff4 Linen
rgb(252,229,223,)

#b7dbf1 Breeze
rgb(183,219,241)

Breezer, Darker


#26449e Harbor
rgb(38,68,158)

v2:
Darker green #212E1F
Dark rgb(49,69,46) / #31452E
Cream rgb(248,242,232) / #f8f2e8
Navy: #31452E
Lighter blue #505577

v1:
Cloud
rgba(242,237,231,1)

Forest - mid tone/accent
rba(79,115,92,1);

Midnight
rgba(47,47,47,1);




***/



.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0); /* Legacy property for Internet Explorer */
  clip-path: inset(50%);
  white-space: nowrap;
}

.display-none {
	display: none;
}
@media screen and (max-width: 600px) {
	.no-mobile {
		display: none;
	}
}
.balance {
	text-wrap: balance;
}
h1, h2, h3, h4, h5, p, ul, ol {
	color: var(--copyColor);
}
h1, h2 {
	font-family: "Fraunces", serif;
	line-height: .8;
	font-weight: 500;
	letter-spacing: -.2rem;
	margin-bottom: var(--sm);
}
h1 {
	font-size: 6rem;
}
.header--hero h1 {
	font-size: 7rem;
}
h2 {
	font-size: 3rem;
}
h3 {
	font-weight: 500;
}
p {
	max-width: 900px; /*a11y readability */
	margin-bottom: var(--lg);
	line-height: 2;
}
p.subhead-large {
	font-size: 1.7em;
	line-height: 2.5;
}
img.image-inline {
	display: inline;
	height: 1.7em;
	width: auto;
	vertical-align: text-bottom;
}

.header--hero svg {
	width: 100%; /*likely needs cross browser work */
	fill: var(--copyColor);
}


figcaption {
	font-size: 14px; /*todo- font sizes */
}
h3,
.subhead,
.tile-grid a,
blockquote + figcaption {
	font-size: 1.115rem;
	letter-spacing: 0.05rem;
	margin-bottom: var(--xs);
	font-weight: 500;
}
code, pre, .mono {
	font-family: "Space Mono", monospace;
}
code {
	padding: var(--xxxs) var(--xxs);
	display: inline;
	font-family: "Space Mono", monospace;
	background: var(--tagBg);
	color: var(--tagText)
}

/* Buttons */
.button {
	padding: var(--xs) var(--sm);
	border: 2px solid var(--copyColor);
	text-decoration: none;
	border-radius: var(--borderRadiusSm);
	/* box-shadow: 3px 3px 1px var(--surfaceColor);
	transition: all 50ms ease-in;
	transition-delay: 50ms; */
}
.button.primary {
	display: inline-block;
	background: var(--copyColor);
	color: var(--backgroundColor);
}
.button.primary:hover {

}
.button.alternate {
	display: inline-block;
	background: transparent;
	color: var(--linkColor);
	border: 2px solid var(--linkColor);

}
.button:hover {
	text-decoration: none;
	/* transform: translate(3px, 3px); */
	box-shadow: unset;
}

.image--container {
	background: var(--backgroundColor);
}
.image--container-polaroid {
	width: 100%;
	margin: 0 auto var(--lg) auto;
	height: 200px;
	overflow: hidden;

}	
.image--polaroid {
	opacity: .8;
	mix-blend-mode: luminosity;
	max-width: 100%;
	width: 100%;
	height: 200px;
	object-fit: cover;
	object-position: center;
}
@media screen and (min-width: 600px) {
	.image--polaroid {
		/* mix-blend-mode: luminosity; */
		max-width: 300px;
		height: auto;
	}
	.image--container-polaroid {
		height: auto;
		width: fit-content;
	}
}


@keyframes move-down {
  0% {
    transform: translate(0, -100px);
  }
  50% {
    transform: translate(0, 0);
  }
  100% {
	transform: translate(0, 0);
	
  }
}

@keyframes fade-in {
  0% {
    opacity: .66;
  }
  50% {
    opacity: 1;
  }
  100% {
	opacity: 1;
  }
}

@keyframes fade-in-shift {
  0% {
	transform: translate(0, -.5em);
    opacity: .2;
  }
  50% {
	transform: translate(0, 0);
    opacity: 1;
  }
  100% {
	transform: translate(0, 0);
	opacity: 1;
  }
}

@keyframes follow-down {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 0);
  }
  100% {
	transform: translate(0, 50vh);
  }
}

@media screen and (min-width: 600px) {
  @supports (animation-timeline: scroll()) {
	/* .image--polaroid {
		
		transform: translate(0, -100px);
		animation: move-down ease-out forwards;
  		/* -webkit-animation-timeline: scroll();
  		animation-timeline: view();
  	} */

	.header--image img {
		/* transform: translate(0, 100px);
		animation: follow-down ease-out forwards;
  		-webkit-animation-timeline: scroll();
  		animation-timeline: view(); */
  	}

	section {
		opacity: .66;
		animation: fade-in ease-out forwards;
  		/* -webkit-animation-timeline: scroll(); */
  		animation-timeline: view();
		animation-range: 40vh 80vh;
	}


  }
}
/* 
header,
nav.navbar,
footer {
    background: var(--cardBackground);
} */

/* Simple two by component */
.two-up {
	display: flex;
	flex-direction: row;
	gap: var(--md) var(--xl);
	flex-wrap: wrap;
}
.flex--25 {
	flex: var(--flex-25);
}
.flex--50 {
	flex: var(--flex-50);
}
.flex--33 {
	flex: var(--flex-33);
}
.flex--66 {
	flex: var(--flex-66);
}

/* Nav css */

nav.navbar {
	padding: var(--xs) var(--lg);
	position: relative;
	z-index: 5;
	position: fixed;
	top: 0;
	width: 100%;
	background: var(--backgroundColor);
}
.navbar--contents {
	display: flex;
	flex-direction: row;
	gap: var(--md);
}
.navbar--hamburger {
	display: block;
}
.navbar--icon {
	height: 14px;
	width: 14px;
}
.navbar a {
	color: var(--copyColor);
	white-space: nowrap;
	text-decoration: none;
}
.navbar--home a {
	color: var(--linkColor);
}
.navbar--links {
	width: 100%;
}
.right-align {
	margin-left: auto;
}
.navbar li {
	display: flex;
	align-items: center;
}
.navbar a {
	min-height: 45px; /*a11y min*/
	display: flex;
	align-items: center;
}
/* Mobile only nav */
.navbar--level-2 { 
	/* Closed on load */
	display: none;
	width: 100%;
}

/* Mobile only styles */
@media screen and (max-width: 600px) {
	/* On mobile, still read full text for clarity */
	.sr-mobile {
		position: absolute;
		width: 1px;
		height: 1px;
		overflow: hidden;
		clip: rect(0 0 0 0); /* Legacy property for Internet Explorer */
		clip-path: inset(50%);
		white-space: nowrap;
	}
}
/* Desktop only styles - can we exclude on mobile somehow? */
@media screen and (min-width: 800px) {
	.navbar--hamburger {
		display: none;
	}
	.navbar--level-2 {
		display: flex;
	}
	.text-align-center {
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}
}

header,
section,
footer {
	padding: var(--xxxl) var(--lg);
}
.container {
	max-width: 1500px;
	margin: 0 auto;
	width: 100%;
}
section {
	background: var(--backgroundColor);
}

header {
	margin-top: var(--xxl);
	background: var(--backgroundColor);
}
.header--hero {
	min-height: 90vh;
	display: flex;
	flex-direction: column;
}
.header--container {
	margin: auto;
	gap: var(--md) var(--xl);
	flex-wrap: wrap;
	z-index: 2;

	background-position: center right;
	background-size: contain;
	background-repeat: no-repeat;
	
	
}
.header--title {
}
.header--image {
	min-height: 300px;
	position: relative;
}
.header--image img {
	/* position: fixed; */
	width: 300px;
	position: absolute;
}
.header--image .hero--image-left {
	left: 0;
	top: 0;
}
.header--image .hero--image-mid {
	left: 33%;
	bottom: 25%;
}
.header--image .hero--image-right {
	right: 0;
	bottom: 0;
}

.header--background {
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	opacity: .4;
	overflow: hidden;
	max-height: 90vh;
}
.header--background img {
	object-fit: cover;
    width: 66vw;
    margin-left: auto;
    margin-right: 0;
	transform: rotate(90deg);
}
.header--about { 
 	margin-top: var(--xl);
}

/* .skills .container {
	display: flex;
	flex-direction: row;
	gap: var(--md) var(--xl);
	flex-wrap: wrap;
} */
.skills--container {
	display: flex;
	flex-direction: column;
	gap: var(--lg);
}
.skills--list {
	display: flex;
	flex-wrap: wrap;
	gap: var(--xs);
}
.skills--list li {
	padding: var(--xxxs) var(--xs);
	display: block;
	font-family: "Space Mono", monospace;
	background: var(--tagBg);
	color: var(--tagText)
}





section.experience {
	/* Temp - clean this up */
	padding-left: 0;
	padding-right: 0;
	position: relative;
	z-index: 0;
	background: transparent;
	padding-top: 0;
}
@media screen and (min-width: 600px) {
	section.experience {
		margin-top: calc(var(--lg) * -1);
	}
}
.experience h2, 
.experience .container > p {
	padding: 0 var(--lg);
}

.slider--timeline {
	overflow: auto;
	margin-top: var(--lg);
}
.slider--slides {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	width: 100%;
	position: relative;
	margin-top: 0;
	flex-wrap: nowrap;
	scroll-snap-type: x mandatory;
	scroll-padding-left: var(--lg);
	scroll-padding-right: var(--lg);
	padding: 0 var(--lg);
	overflow-x: scroll;
	overflow-y: hidden;
	scroll-behavior: smooth;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: none;
	scrollbar-width: none;
}
.slider--slide {
	display: block;
	text-align: center;
	padding: 0 var(--md);
	height: 100%;
	width: 100%;
	scroll-snap-align: center;
	flex: 1 0 70vw;
	text-wrap: balance;
	position: relative;
	background: var(--cardBackground);
}


@media screen and (min-width: 850px) {
	.slider--slide {
		flex: 1 0 27vw;
	}
}
/* Check on big monitor */
@media screen and (min-width: 2000x) {
	.slider--slide {
		flex: 1 0 15vw;
	}
}
.slider--slide:first-child:before {
	content: "";
	position: absolute;
	background: var(--backgroundColor);
	height: 50px;
	width: 50px;
	left: 0;
	top: -50px;
	width: calc(50% - 0px + var(--lg));
  	margin-left: calc((var(--lg) + 17px) * -1);
	z-index: 0;
}
.slider--slide:last-child:before {
	content: "";
	position: absolute;
	background: var(--backgroundColor);
	height: 50px;
	width: 50px;
	right: 0;
	top: -50px;
	width: calc(50% - 17px + var(--lg));
	margin-right: calc((var(--lg)) * -1);
	z-index: 0;
}
.slider--controls {
	width: fit-content;
	display: flex;
	flex-direction: row;
	gap: var(--sm);
	padding: 0 var(--lg);
	margin: var(--md) auto var(--sm) auto;
}
.slider--controls button {
	height: 50px; /*a11y min*/
    width: 50px;
    padding: 0;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 100px;
	cursor: pointer;
}
.slider--controls button:first-child {
    transform: rotate(180deg);
}
.slider--slide p {
	max-width: 400px;
	margin: 0 auto var(--sm) auto;
}

.slider--text-container {
	position: relative;
	z-index: 1;
	/* padding: var(--md);
	border-radius: var(--borderRadiusMd); */
}
.slider--icon-container {
	width: 85px;
	height: 85px;
	margin: -80px auto 0 auto;
	background: var(--backgroundColor);
}
.slider--slide lord-icon {
	opacity: 1;
	width: 100px;
}
.slider--current-role {
	background: var(--backgroundColor);
}
.slider--current-role lord-icon{
	opacity: 1;
}
.slider--current-role .slider--icon-container {
	/* width: 110px;
	height: 110px;
	margin: -100px auto 0 auto; */
}

.experience hr {
	height: 1px;
	border: 1px solid var(--copyColor);
	width: 100%;
	margin-top: var(--xxxl);
	opacity: .3;
}

.slider--timeline {
	margin-top: calc((var(--xl) + .5rem )* -1);
}
.slider--slides {
	padding: var(--xxxl) var(--lg) 0 var(--xl);
}


footer {
	background: var(--backgroundColor);
}
footer ul {
	display: flex;
	flex-direction: row;
	gap: var(--sm);
	width: fit-content;
	padding-bottom: var(--xxl);
}
footer .container {
	padding: var(--xxl) 0;
	border-top: 2px solid var(--surfaceColor);
}

.projects {
	padding-bottom: 0;
}
.projects .tile-grid {
	margin-bottom: var(--xl);
}


.projects-old {
	padding-top: 0;
}
.projects-old .two-up {
	gap: var(--md); /** align to above - needs work */
}
.projects-old .flex--33 {
	padding-right: var(--md);
}


.projects .tile-grid {
	margin-top: var(--xl);
}
/* Mobile - to move out */
.tile-grid {
		display: grid;
		list-style: none;
		grid-template-columns: 1fr;
		gap: var(--md);
}

.tile-grid > *{
	height: 100%;
	background: var(--cardBackground);
	display: flex;
	flex-direction: column;
	position: relative;
	/* border: 1px solid var(--copyColor); */
	border-radius: var(--borderRadiusMd);
	overflow: hidden;
}

.tile-content .eyebrow {
	margin-bottom: var(--xxxs);
	text-align: left;
	margin-left: 0;
}
.tile-grid li:has(a) {
	cursor: pointer;
	/* transition: all 250ms ease-in; */
	/*transition-delay: 250ms;*/
}
/* .tile--image:after {
	width: 100%;
	height: 100%;
	content: "";
	background: var(--copyColor);
	position: absolute;
	top: 0;
	left: 0;
	mix-blend-mode: color;
} */
.tile-grid img {
	width: 100%;
	height: auto;
	transition: all 250ms ease-in; 
}
.tile--image {
	/* /* object-fit: cover;
    overflow: hidden; */
    /* position: relative; */
	background: var(--backgroundColor);
    /* max-height: 200px; */
	display: none;
}
.tile--image img {
	opacity: 1;
}
/* .tile-grid li:hover .tile--image:after {
	opacity: 0;
} */
/* .tile-grid li .tile--arrow path {
	fill: var(--linkColor);
	stroke: var(--linkColor);
}
.tile-grid li:hover .tile--arrow {
	margin-right: calc(var(--md) - 3px);
} */
/* .tile-grid li:hover .tile--arrow path {
	stroke: var(--linkColor);
} */

.tile--image img {
	object-fit: cover;
	object-position: center;
	height: 100%;
}

.tile--image.left img {
	object-position: left;
}
.tile--image.right img {
	object-position: right;
}
/* Simplify mobile */
.tile-grid li .learn-more,
.tile-grid li .description {
	display: none;
}
@media screen and (min-width: 950px) {
	.tile--image {
		display: block;
		position: absolute;
		top: 0;
		height: 100%;
		width: 100%;
	}
	.tile-grid li .learn-more,
	.tile-grid li .description {
		display: block;
	}
	.tile-content {
		opacity: 0;
		transition: all 250ms ease-in;
		z-index: 1;
	}
	.tile-grid li:hover .tile-content,
	.tile-grid li:focus-within .tile-content {
		opacity: 1;
	} 
	.tile-grid li:focus-within .tile--image,
	.tile-grid li:hover .tile--image {
		opacity: 0;
	}
}


.tile-grid li:hover:has(a) {
	/* background: var(--cardHoverBackground); */
	/* box-shadow: 0px 2px 4px rgba(0,0,0,0.12),
				0px 6px 16px rgba(0,0,0,0.1); */
}
.tags {
	display: flex;
	flex-wrap: wrap;
	margin-top: auto;
	gap: var(--xs);
	font-family: "Space Mono", monospace;
	padding-right: var(--lg);
}

.tile-grid figure,
.tile-content {
	display: flex;
	flex-direction: column;
	padding: var(--md);
	flex: 1;
	transition: all 250ms ease-in;
}
.tile-grid a {
	text-decoration: none;
	width: fit-content;
	color: var(--linkColor);
	/* border-bottom: none;
	color: var(--linkColor); */
}
.tags > span,
.tags li {
	display: inline-block;
	background: var(--tagBg);
	color: var(--tagText);
	padding: var(--xxxs) var(--xs);
}
.section-cta {
	display: block;
	width: fit-content;
	margin: var(--xl) auto 0 auto;
}
.section-cta-top.button {
	display: block;
	width: fit-content;
	margin: 0 0 var(--xxl) var(--lg);
}
@media screen and (min-width: 600px) {
	.section-cta-top.button {
		margin-left: auto;
		margin-right: auto;
	}
}

.tile-grid .tile--arrow {
	align-self: flex-end;
	transform: scale(1.5);
	/* opacity: .5; */
	margin: 0 var(--md) var(--md) var(--md);
	position: absolute;
	bottom: 0;
	transition: all 150ms ease-out;
}
/* .tile-grid.compact {
	grid-template-columns: 1fr;
} */
.tile-grid.compact li {
	flex-direction: row;
	flex-wrap: wrap;
	padding: var(--md);
	gap: var(--xs);
}
/* .tile-grid.compact img {
	width: 125px;
	flex: 0 1 125px;
} */
.tile-grid.compact .tags {
	margin-top: 0;
}
.tile-grid.compact .tile-content {
	flex: 1 1 28ch;
	padding: 0;
	justify-content: center;
}



@media screen and (min-width: 600px) { */
	.tile-grid.even {
		grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
	}
}
@media screen and (min-width: 800px) {
	.tile-grid {
		grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
	}
	.tile-grid.even {
		grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
	}
	.tile-grid .wide:last-child {
		grid-column: 1/-1;
	}
}
@media screen and (min-width: 1100px) {
	.tile-grid.compact {
		grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
	}
	.tile-grid .tall img {
		width: auto;
		height: 100%;
	}
	/* .tile-grid .wide,
	.tile-grid .wide:last-child {
		grid-column: span 2;
		display: flex;
		flex-direction: row;
	} */
	.tile-grid .wide .tile--image {
		flex: 0 0 50%;
		max-height: unset;
		position: unset;
	}
	.tile-grid .wide .tile--image img {
		height: 100%;
        max-width: unset;
        width: auto;
        max-height: 100%;
        position: absolute;
		top: 0;
	}
	.tile-grid .wide svg {
		right: 0;
	}
	.tile-grid .tall {
		grid-row: span 2;
	}
	.tile-grid .tall .tile--image {
		max-height: unset;
		height: 50%;
	}
}



.tile-grid.compact .tile--arrow {
	align-self: center;
	margin: 0;
	right: var(--md);
	bottom: unset;
}
.tile-grid.compact .icon--code {
	width: 75px;
	height: 75px;
	opacity: .5;
}
.two-up .sticky {
	position: sticky;
	top: var(--xxl);
	height: fit-content;
}


.tile-grid blockquote p {
	font-style: italic;
}


footer .container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}